*
{
    background-color: grey;
}

p
{
    background-color: lightcoral;
}

.box 
{
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-color: red;
    background-color: lightcoral !important; 
}