img 
{
    width: 250px;
    height: auto;
}

#content
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.square 
{
    height: 50px;
    width: 50px;
    background-color: #555;
}

.circle 
{
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
}

.rectangle 
{
    height: 50px;
    width: 100px;
    background-color: #555;
}