img 
{
    width: 250px;
    height: auto;
}

#content
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

/* shapes pulled from w3schools */ 
.square 
{
    height: 50px;
    width: 50px;
    background-color: #555;
    position: absolute; 
    top: 100px; 
    left: 25px;
}

.circle 
{
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
    position: absolute; 
    top: 100px; 
    left: 25px;
}

.rectangle 
{
    height: 50px;
    width: 100px;
    background-color: #555;
    position: absolute; 
    top: 100px; 
    left: 25px;
}

.trapezoid 
{
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
    position: absolute; 
    top: 100px; 
    left: 25px;
}

.parallelogram 
{
	width: 100px;
	height: 50px;
	transform: skew(20deg);
	background: #555;
    position: absolute; 
    top: 100px; 
    left: 25px;
}