* 
{
    background-color: black;
}

.scene1
{
    position: relative;
}

.white
{
    color: white;
    text-align: center;
}

.button
{
    background-color: white;
    padding: 10px 20px;
    margin: 0;
}

.button:hover
{
    background-color: grey;
}

.buttonPosition
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentAlert
{
    padding: 10px;
    background-color: darkred;
    color: white;
}

.alertText
{
    background-color: darkred;
}