* 
{
    background-color: black;
    font-family: ralewayRegular;
}

#title 
{
    font-family: titleFont !important;
    font-size: 60px;
}

.images
{
    max-width: 100%;
    height: auto;
}

.scene1
{
    position: relative;
}

.white
{
    color: white;
    text-align: center;
}

.button
{
    font-family: titleFont !important;
    font-size: 15px;
    padding: 10px 20px;
    margin: 0;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.button:hover
{
    background-color: grey;
}

.button:active
{
    background-color: darkred;
}

.buttonPosition
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentAlert
{
    padding: 10px;
    background-color: darkred;
    color: white;
}

.alertText
{
    background-color: darkred;
    text-align: center;
}
